[Unit] 
Description=Runs the after-i8.service 1 minute after boot up

[Timer] 
OnStartupSec=30
Unit=after-i8k.service

[Install] 
WantedBy=basic.target
